@model Vehicle

<h3 class="mt-4 mb-4">Delete Vehicle</h3>

<h4 class="mb-4">Are you sure you want to delete this Vehicle?</h4>

<div>
    <div class="col card rounded shadow p-3">
        <dl class="row">       
            <dt class="col-5">Make</dt>
            <dd class="col-7">@Model.Make</dd>

            <dt class="col-5">Model</dt>
            <dd class="col-7">@Model.Model</dd>
            
            <dt class="col-5">Year</dt>
            <dd class="col-7">@Model.Year</dd>
            
            <dt class="col-5">Registration</dt>
            <dd class="col-7">@Model.Registration</dd>

            <dt class="col-5">Number of Doors</dt>
            <dd class="col-7">@Model.NumberOfDoors</dd>
        </dl>
    </div>

    <div class="mt-4">
        <form asp-action="DeleteConfirm" type="post">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Confirm" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-controller="Vehicles" asp-action="List" >Cancel</a>
        </form>
    </div>
    
</div>