@model Vehicle

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Vehicle Details</h6>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-5">Registration</dt>
            <dd class="col-7">@Model.Registration</dd>

            <dt class="col-5">Make</dt>
            <dd class="col-7">@Model.Make</dd>

            <dt class="col-5">Model</dt>
            <dd class="col-7">@Model.Model</dd>

            <dt class="col-5">Year</dt>
            <dd class="col-7">@Model.Year</dd>

            <dt class="col-5">Fuel Type</dt>
            <dd class="col-7">@Model.FuelType</dd>

            <dt class="col-5">Body Type</dt>
            <dd class="col-7">@Model.BodyType</dd>

            <dt class="col-5">Transmission Type</dt>
            <dd class="col-7">@Model.TransmissionType</dd>

            <dt class="col-5">CC</dt>
            <dd class="col-7">@Model.CubicCentimeter</dd>

            <dt class="col-5">Number of Doors</dt>
            <dd class="col-7">@Model.NumberOfDoors</dd>
        </dl>

        <div class="mt-3">
            <a class="btn btn-primary" asp-controller="Vehicles" asp-action="EditVehicle" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger" asp-controller="Vehicles" asp-action="DeleteVehicle" asp-route-id="@Model.Id">Delete</a>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-secondary">MOT History</h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead">
                <tr>
                    <th>Date</th>
                    <th>Engineer</th>
                    <th>Status</th>
                    <th>Mileage</th>
                    <th>Report</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var r in Model.MOTRecords)
                {
                    <tr>
                        <td>@r.Date.ToLocalTime().ToShortDateString()</td>
                        <td>@r.EngineerName</td>
                        <td>@r.Outcome.GetEnumDisplayName()</td>
                        <td>@r.Mileage</td>
                        <td>@r.Report</td>
                        <td>
                            <a asp-controller="Vehicles" asp-action="EditMOTRecord" asp-route-id="@r.Id"><i class="fas fa-pen"></i></a>                        
                            <a asp-controller="Vehicles" asp-action="DeleteRecord" asp-route-id="@r.Id"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-primary" asp-controller="Vehicles" asp-action="AddMOTRecord">Add MOT Record</a>
    </div>
</div>